# Prettier configuration

printWidth: 100
singleQuote: true
tabWidth: 2
useTabs: false
endOfLine: "lf"
semi: true
trailingComma: "all"
arrowParens: avoid
bracketSpacing: true
bracketSameLine: false
htmlWhitespaceSensitivity: "css"
embeddedLanguageFormatting: auto
singleAttributePerLine: false

# xml rules:
xmlWhitespaceSensitivity: ignore
